<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/client-dashboard">CLIENT PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                <div class="user-name">Phumie Nevhutala</div>
                <div class="user-role">Administrator</div>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/client-dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/client-projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/feedback">
                    <img src="assets/feedback.png" alt="">
                    <span>Feedback</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        <div class="main-content"></div>
        </div>
    </div>
</body>
    
  
  <div class="main-content">  
    <h5 align="center">NEW FEEDBACK</h5>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>For Project</b></label>
            <div class="col-sm-10">
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option value="">Three Rivers Paint Job</option>
                <option value="">Rissik Street Door Installation</option>
                <option value="">ghandi Square Lights Replacement</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Feedback Type</b></label>
            <div class="col-sm-10">
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option value="">Complaint</option>
                <option value="">Inquiry</option>
                <option value="">Compliment</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Feedback Title</b></label>
            <div class="col-sm-10">
            <input type="text" class="form-control" value="Title">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1"><b>Feedback</b></label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlFile1"><b>Attach File</b></label>
            <input type="file" class="form-control-file">
        </div>
        <button type="button" class="btn btn-danger">Submit</button>
    </form>
</div>