<app-client-template></app-client-template>

<div class="main-content">
    <h4 align="center" style="padding: 20px">DASHBOARD</h4>
    <div class="card-columns">
        <div class="card">
            <div class="card-body" style="background-color:#ffb142">
                <a routerLink="/client-projects" class="card-title" align="center">
                    <img src="assets/project.png" class="img">
                </a>
                <a routerLink="/client-projects" align="center">
                    <h6>PROJECTS</h6>
                </a>
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body" style="background-color:#227093;">
                <a routerLink="/feedback" class="card-title" align="center">
                    <img src="assets/feedback.png" class="img">
                </a>
                <a routerLink="/feedback" align="center">
                    <h6>FEEDBACK</h6>
                </a>
            </div>
        </div> 
    </div> 
</div>