h5 {
    text-align: center;
    margin: 10px;
}

table {
    width: 100%;
}

table th {
    background-color: rgb(42, 43, 43);
    color: white;
}

table td {
    cursor: pointer;
}

.card {
    text-align: center;
    padding: 20px;
    border: none;
}