<div class="modal fade bd-feedback-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">Feedback</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">PROJECT</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="FNB Paint Job" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">TYPE</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="Complaint" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">TITLE</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="Unfinished paint job" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">MESSAGE</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" value="message" readonly>The shade of peach that was used does not match the one from the swatch we agreed on. This needs to be changed.
                            </textarea>
                        </div>
                    </div>
                </form>
                <img src="assets/painting.jpg" class="feedback-img" data-toggle="modal" data-target="#exampleModal">

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="assets/painting.jpg" class="expand-img">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <form>
                <div class="card chat">
                    <div class="form-group">
                        <label  class="col-sm-2 col-form-label"><b>CHAT</b></label>
                        <div class="col-sm-10">
                        <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
    