<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <nav class="navbar navbar-expand-lg main-navbar">
        <h5>FINANCE</h5>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a routerLink="/dashboard">NRP PORTAL</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="assets/profile.png">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">Phumie Nevhutala</div>
              <div class="user-role">Administrator</div>
            </div>
          </div>

          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li>
              <a routerLink="/dashboard">
                <img src="assets/home.png" alt="">
                <span>Dashboard</span>
              </a>
            </li>
            <li class="menu-header">MENU</li>
            <li>
              <a routerLink="/projects">
                <img src="assets/project.png" alt="">
                <span>Projects</span>
              </a>
            </li>
            <li>
              <a routerLink="/finance">
                <img src="assets/finance.png" alt="">
                <span>Finance</span>
              </a>
            </li>
            <li>
              <a routerLink="/reports">
                <img src="assets/report.png" alt="">
                <span>Reports</span>
              </a>
            </li>
            <li>
              <a routerLink="/quotes">
                <img src="assets/quote.png" alt="">
                <span>Quotes</span>
              </a>
            </li>
            <li>
              <a routerLink="/rfqs">
                <img src="assets/quote.png" alt="">
                <span>RFQs</span>
              </a>
            </li>
            <li>
              <a routerLink="/admin">
                <img src="assets/admin.png" alt="">
                <span>Admin</span>
              </a>
            </li>
            <li>
              <a routerLink="/login">
                <img src="assets/logout.png" alt="">
                <span>Signout</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- <div class="main-content"></div> -->
    </div>
  </div>
</body>

<div class="main-content">
  <h5>NRP TRANSACTIONS</h5>
  <!-- <div class="card-columns">
    <div class="card">
      <h6 style="color: red">R 748 673.92</h6>
      <p>Expenses</p>
    </div>
    <div class="card">
      <h6 style="color: green">R 1 674 308.67</h6>
      <p>Income</p>
    </div>
    <div class="card">
      <h6 style="color: blue">R 45 067</h6>
      <p>Profit</p>
    </div>
  </div> -->

  <div>
    <input type="text" class="search"><button class="search-btn">Search</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-manage-transaction-modal-lg">New Transaction</button>
  </div>
  

  <table class="table table-hover" style="margin-top: 10px; width: 100%;">
      <thead class="thead-dark">
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">id</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">name</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">description</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">type</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">date</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">amount</td>
          </tr>
          <tr>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">id</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">name</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">description</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">type</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">date</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">amount</td>
          </tr>
          <tr>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">id</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">name</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">description</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">type</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">date</td>
            <td data-toggle="modal" data-target=".bd-view-transaction-modal-lg">amount</td>
          </tr>
      </tbody>
  </table>

  <app-view-transaction></app-view-transaction>
  <app-manage-transactions></app-manage-transactions>
</div>