<div class="modal fade bd-budget-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Project Budget</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="col-form-label">Estimated By</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <!-- <div class="form-group">
                <label class="col-form-label">Project Value</label>
                <input type="text" class="form-control" id="quantity" placeholder="R0,00">
            </div>
            <div class="form-group">
                <label class="col-form-label">Rate</label>
                <input type="text" class="form-control" id="rate">
            </div>
            <div class="form-group">
                <label class="col-form-label">Total</label>
                <input type="text" class="form-control" id="total">
            </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
