<form [formGroup]="employeePermissionForm" (ngSubmit)="onSubmit()">
    <div class="form-group row" formGroupName="projects">
        <label class="col-sm-2 col-form-label"><b>PROJECTS</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row" formGroupName="finance">
        <label class="col-sm-2 col-form-label"><b>FINANCE</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row" formGroupName="rfq">
        <label class="col-sm-2 col-form-label"><b>RFQs</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row" formGroupName="quotes">
        <label class="col-sm-2 col-form-label"><b>QUOTES</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row" formGroupName="reports">
        <label class="col-sm-2 col-form-label"><b>REPORTS</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row" formGroupName="admin">
        <label class="col-sm-2 col-form-label"><b>ADMIN</b></label>
        <div class="col-sm-10">
            <input formControlName="read" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Read
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="write" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Write
            </label>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input formControlName="delete" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="gridCheck1">
                Delete
            </label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
        <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
    </div>
</form>

