<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                <div class="user-name">Phumie Nevhutala</div>
                <div class="user-role">Administrator</div>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a href="dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a href="projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a href="finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a href="reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a href="quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a href="rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a href="admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a href="login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        <!-- <div class="main-content"></div> -->
        </div>
    </div>
</body>

<div class="main-content">
    <h5>RFQs</h5>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="suppliers-tab" data-toggle="tab" href="#suppliers" role="tab" aria-controls="suppliers" aria-selected="false">Generate Supplier Quotes</a>
        </li>
        </ul>
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <br>
            <form>
                <input type="text">
                <button class="search">Search</button>
            </form>
            <table class="table table-hover" style="margin-top: 10px; width: 100%; overflow: scrollable;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Supplier Name</th>
                        <th scope="col">Quote Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rfq of rfqs">
                            <!-- (click)="onSelect(employee)" -->
                        <th scope="row">{{rfq.QuoteId}}</th>
                        <td>{{rfq.Supplier.clientName}}</td>
                        <td>{{rfq.date}}</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>name</td>
                        <td>date</td>
                    </tr>
                    <!-- <tr>
                        <th scope="row">2</th>
                        <td>name</td>
                        <td>date</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>name</td>
                        <td>date</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="suppliers-tab">
            <br>
            <h6 align="center">GENERAL</h6>
            <form>
                <div class="form-group">
                    <label>Supplier Name</label>
                    <!-- <input type="text" class="form-control" placeholder="Name"> -->
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option *ngFor="let client of clients">{{client.clientName}}</option>
                        <!-- <option>name</option>
                        <option>name</option>
                        <option>name</option> -->
                    </select>
                </div>

                <div class="form-group">
                    <label>Supplier Address</label>
                    <input type="text" class="form-control" placeholder="Apartment, Studio, or Floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Province</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option value="Gauteng">Gauteng</option>
                            <option value="Western Cape">Western Cape</option>
                            <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                            <option value="Limpopo">Limpopo</option>
                            <option value="Mpumalanga">Mpumalanga</option>
                            <option value="Eastern Cape">Eastern Cape</option>
                            <option value="Free State">Free State</option>
                            <option value="North West">North West</option>
                            <option value="Northern Cape">Northern Cape</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" placeholder="(dd-mm-yyyy)">
                </div>

                <h6 align="center">CONTACT INFO</h6>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Supplier Tel</label>
                    <input type="numbers" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"> Supplier Email</label>
                    <input type="email" class="form-control" placeholder="name@example.com">
                </div>

                <h6 align="center">ITEMS</h6>
                <p align="center">Click appropriate button to enter items.</p>
                <button type="button" id="add" class="btn btn-danger"  data-toggle="modal" data-target="#rfqModal">Add RFQ Item</button>

                <div class="modal fade" id="rfqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalLabel">New Item</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label">Description</label>
                                    <input type="text" class="form-control" id="description">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Quantity</label>
                                    <input type="text" class="form-control" id="quantity">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Price</label>
                                    <input type="text" class="form-control" id="price">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">VAT</label>
                                    <input type="text" class="form-control" id="vat">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                    </div>
                </div>

                <table class="table table-hover" style="margin-top: 10px; width: 100%; overflow: scrollable;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">VAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">description</th>
                            <td>quantity</td>
                            <td>price</td>
                            <td>vat</td>
                        </tr>
                        <tr>
                            <th scope="row">description</th>
                            <td>quantity</td>
                            <td>price</td>
                            <td>vat</td>
                        </tr>
                        <tr>
                            <th scope="row">description</th>
                            <td>quantity</td>
                            <td>price</td>
                            <td>vat</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" id="createQuote" class="btn btn-success" style="margin-top:10px"> Generate Quote</button>
            </form>
        </div>
    </div>
</div>