    <div id="app">
        <div class="main-wrapper">
            <nav class="navbar navbar-expand-lg main-navbar">
                <h5>Admin</h5>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a routerLink="/dashboard">NRP PORTAL</a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                    <img alt="image" src="assets/profile.png">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">Name & Surname</div>
                        <div class="user-role">Role</div>
                      </div>
                </div>
        
                <ul class="sidebar-menu">
                    <li class="menu-header">Dashboard</li>
                    <li>
                    <a routerLink="/dashboard">
                        <img src="assets/home.png" alt="">
                        <span>Dashboard</span>
                    </a>
                    </li>
                    <li class="menu-header">MENU</li>
                    <li>
                    <a routerLink="/admin/employees">
                        <img src="assets/project.png" alt="">
                        <span>Employees</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/clients">
                        <img src="assets/finance.png" alt="">
                        <span>Clients</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/suppliers">
                        <img src="assets/report.png" alt="">
                        <span>Suppliers</span>
                    </a>
                    </li>
                    <li>
                    <a (click)="logout()">
                        <img src="assets/logout.png" alt="">
                        <span>Signout</span>
                    </a>
                    </li>
                </ul>
                </aside>
            </div>
        </div>
</div>

<div class="main-content">
    <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <h6>GENERAL INFORMATION</h6><br>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Business Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Tell Number</label>
            <div class="col-sm-10">
                <input type="number" formControlName="tell" class="form-control" placeholder="Telephone No." [ngClass]="{ 'is-invalid': submitted && form.tell.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Physical Address</label>
            <div class="col-sm-10">
                <input type="text" formControlName="address" class="form-control" placeholder="Physical Address" [ngClass]="{ 'is-invalid': submitted && form.address.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
            </div>
        </div>
        <h6>ACCOUNT INFORMATION</h6><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Bank Name</label>
            <div class="col-sm-10">
                <input type="text" formControlName="bankName" class="form-control" placeholder="Bank Name" [ngClass]="{ 'is-invalid': submitted && form.bankName.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Account Number</label>
            <div class="col-sm-10">
                <input type="number" formControlName="bankAccount" class="form-control" placeholder="Account Number" [ngClass]="{ 'is-invalid': submitted && form.bankAccount.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Branch Code</label>
            <div class="col-sm-10">
                <input type="number" formControlName="branchCode" class="form-control" placeholder="Branch Code" [ngClass]="{ 'is-invalid': submitted && form.branchCode.errors }">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Reference Number</label>
            <div class="col-sm-10">
                <input type="numer" formControlName="referenceNumber" class="form-control" placeholder="Reference No." [ngClass]="{ 'is-invalid': submitted && form.referenceNumber.errors }">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
            <button type="submit" id="submit" class="submit">Submit</button>
            </div>
        </div>
    </form>           
</div>