h6 {
    text-align: center;
    margin: 10px;
}

.submit {
    width: 150px;
    height: 45px;
}

.delete {
    width: 170px;
    height: 45px;
}

.loader {
    height: 200px;
    position: relative;
    left: 40%;
    top: 190px;
}