.add {
    background-color: rgb(17, 148, 148);
    height: 25px;
    width: 100px;
    border: none;
    color: white;
}

.loader {
    height: 200px;
    position: relative;
    left: 40%;
    top: 30px;
}