<h6 align="center">FEEDBACK</h6>
<div class="table-wrapper-scroll-y">
    <table class="table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Feedback Title</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Incomplete paint job.</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">15-01-2018</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Complaint</td>
            </tr>
            <tr>
                <td>1</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Incomplete paint job.</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">15-01-2018</td>
                <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Complaint</td>
            </tr>
        </tbody>
    </table>
</div>