/* status bar */

.row {
    margin-top: 10px;
}

.card {
   border-radius: 2px;
   padding: 10px;
   margin: 5px;
}

.details {
    height: 220px;
}

.box {
    margin: 5px;
    border: none;
}


/* dropdown menu */

.dropdown{
    width: 100%;
    background-color: #1c2731;
    border: none;
    cursor: pointer;
    color: white;
}

/* content */

.content .card {
    border: none;
}