<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                <div class="user-name">Phumie Nevhutala</div>
                <div class="user-role">Administrator</div>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a href="dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a href="projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a href="finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a href="reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a href="quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a href="rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a href="admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a href="login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        <!-- <div class="main-content"></div> -->
        </div>
    </div>
</body>


<div class="main-content">
    <nav class="status-bar" style="padding:10px;">
        <p><b>{{project.title}}</b></p>
        <p>Project Manager</p>
        <p><b>Phuti Matle</b></p>
        <p>Site Manager</p>
        <p><b>Katleho Khanye</b></p>
        <p>Project Duration</p>
        <p><b>{{project.date}} - {{project.date}}</b></p>
        <br>
        <p><b>PROJECT PROGRESS</b></p>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </nav>

    <div class="card-columns">
        <div class="card">
            <div class="icon">
                <img src="assets/resources.png" data-toggle="modal" data-target=".bd-resources-modal-lg" id="resources">
            </div>
            <a data-toggle="modal" data-target=".bd-resources-modal-lg" id="resources">RESOURCES</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/budget.png" data-toggle="modal" data-target=".bd-buget-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-budget-modal-lg">BUDGET</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/quote.png" data-toggle="modal" data-target=".bd-quotes-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-quotes-modal-lg">QUOTES</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/defaults.png" data-toggle="modal" data-target=".bd-defaults-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-defaults-modal-lg">DEFAULTS</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/duration.png" data-toggle="modal" data-target=".bd-duration-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-duration-modal-lg">DURATION</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/feedback.png" data-toggle="modal" data-target=".bd-feedback-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-feedback-modal-lg">FEEDBACK</a>
        </div>
        <div class="card">
            <div class="icon">
                <img src="assets/status.png" data-toggle="modal" data-target=".bd-status-modal-lg">
            </div>
            <a data-toggle="modal" data-target=".bd-status-modal-lg">STATUS</a>
        </div>
    </div>

    <app-resources></app-resources>
    <app-budget></app-budget>
    <app-defaults></app-defaults>
    <app-duration></app-duration>
    <app-feedback></app-feedback>
    <app-quotes></app-quotes>
    <app-status></app-status>
</div>