<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                    <div class="user-name">Name & Surname</div>
                    <div class="user-role">Role</div>
                  </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a routerLink="/reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a routerLink="/quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a routerLink="/rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a routerLink="/admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        </div>
    </div>
</body>


<div class="main-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="card details">
                <b>Client: </b>
                <b>Client Contact: </b>
                <b>Project: </b>
                <b>Project Manager: </b>
                <b>Site Manager: </b>
                <b>Duration: </b>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card graphs">
                <app-phase-duration-progress></app-phase-duration-progress>
            </div>
        </div>
    </div>  

<div class="content">
    <div  class="card">
        <button id="options" class="dropdown">OPTIONS</button>
        <app-menu-selection></app-menu-selection>
    </div>
    

    <div class="card" id="timeline-div">
        <app-timelines></app-timelines>
    </div>

    <div class="card" id="resources-div">
        <app-resources></app-resources>
    </div>

    <div class="card" id="quotes-div">
        <app-quotes></app-quotes>
    </div>
</div>