.card p {
    color: #636363;
    font-size: 0.95em;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.main-content a {
    text-decoration: none;
    color: black;
}

.stats {
    border: none;
    text-align: center;
}


.stats p {
    color: black;
}