<head>
    <meta charset="UTF-8">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
            <nav class="navbar navbar-expand-lg main-navbar">
                <h5>Admin</h5>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a routerLink="/dashboard">NRP PORTAL</a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                    <img alt="image" src="assets/profile.png">
                    </div>
                    <div class="sidebar-user-details">
                    <div class="user-name">Phumie Nevhutala</div>
                    <div class="user-role">Administrator</div>
                    </div>
                </div>
        
                <ul class="sidebar-menu">
                    <li class="menu-header">Dashboard</li>
                    <li>
                    <a routerLink="/dashboard">
                        <img src="assets/home.png" alt="">
                        <span>Dashboard</span>
                    </a>
                    </li>
                    <li class="menu-header">MENU</li>
                    <li>
                    <a routerLink="/admin/employees">
                        <img src="assets/project.png" alt="">
                        <span>Employees</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/clients">
                        <img src="assets/finance.png" alt="">
                        <span>Clients</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/suppliers">
                        <img src="assets/report.png" alt="">
                        <span>Suppliers</span>
                    </a>
                    </li>
                    <li>
                    <a (click)="logout()">
                        <img src="assets/logout.png" alt="">
                        <span>Signout</span>
                    </a>
                    </li>
                </ul>
                </aside>
            </div>
        </div>
    </div>
</body>

<div class="main-content">
    <h4 align="center" style="padding: 20px">ADMIN PANEL</h4>

    <div class="card-columns">
        <div class="card stats">
            <h3 style="color:green">25</h3>
            <p>Employees</p>
        </div>
        <div class="card stats">
            <h3 style="color:red">5</h3>
            <p>Clients</p>
        </div>
        <div class="card stats">
            <h3>7</h3>
            <p>Suppliers</p>
        </div>
    </div>

    <div class="card-columns">
        <div class="card">
            <div class="card-body" style="background-color:#ffb142">
                <a routerLink="/admin/employees" class="card-title" align="center">
                    <img src="assets/employees.png" class="img">
                </a>
                <a routerLink="/admin/employees" align="center">
                    <h6>EMPLOYEES</h6>
                </a>
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body" style="background-color:#227093;">
                <a routerLink="/admin/clients" class="card-title" align="center">
                    <img src="assets/client.png" class="img">
                </a>
                <a routerLink="/admin/clients" align="center">
                    <h6>CLIENTS</h6>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body" style="background-color:#F82E2E;">
                <a routerLink="/admin/suppliers" class="card-title" align="center">
                    <img src="assets/supplier.png" class="img">
                </a>
                <a routerLink="/admin/suppliers" align="center">
                    <h6>SUPPLIERS</h6>
                </a>
            </div>
        </div> 
    </div>
</div> 
