    <div id="app">
        <div class="main-wrapper">
            <nav class="navbar navbar-expand-lg main-navbar">
                <h5>Admin</h5>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a routerLink="/dashboard">NRP PORTAL</a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                    <img alt="image" src="assets/profile.png">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">Name & Surname</div>
                        <div class="user-role">Role</div>
                      </div>
                </div>
        
                <ul class="sidebar-menu">
                    <li class="menu-header">Dashboard</li>
                    <li>
                    <a routerLink="/dashboard">
                        <img src="assets/home.png" alt="">
                        <span>Dashboard</span>
                    </a>
                    </li>
                    <li class="menu-header">MENU</li>
                    <li>
                    <a routerLink="/admin/employees">
                        <img src="assets/project.png" alt="">
                        <span>Employees</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/clients">
                        <img src="assets/finance.png" alt="">
                        <span>Clients</span>
                    </a>
                    </li>
                    <li>
                    <a routerLink="/admin/suppliers">
                        <img src="assets/report.png" alt="">
                        <span>Suppliers</span>
                    </a>
                    </li>
                    <li>
                    <a (click)="logout()">
                        <img src="assets/logout.png" alt="">
                        <span>Signout</span>
                    </a>
                    </li>
                </ul>
                </aside>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid" *ngIf="loaded">
        <h5>CLIENTS LIST</h5>

        <form>
            <input type="text"class="input"> 
            <button class="search">Search</button>
        </form>

        <div class="table-wrapper-scroll-y">
            <table class="table table-hover" class="table table-striped table-bordered" cellspacing="0" style="margin-top: 10px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Client Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cell Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients" (click)="onSelect(client)">
                        <td scope="row">{{client.clientId}}</td>
                        <th>{{client.clientName}}</th>
                        <th>{{client.address}}</th>
                        <td *ngIf="client.contact">{{client.contact.firstName}} {{client.contact.lastName}}</td>
                        <td *ngIf="client.contact">{{client.contact.email}}</td>
                        <td *ngIf="client.contact">{{client.contact.cell}}</td>
                        <td *ngIf="!client.contact">n/a</td>
                        <td *ngIf="!client.contact">n/a</td>
                        <td *ngIf="!client.contact">n/a</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form>
            <button type="button" class="btn btn-primary btn-sm">
                <a routerLink="/admin/clients/edit">ADD CLIENT</a>
            </button>
        </form>
    </div>
    <div *ngIf="!loaded" class="loader">
        <mat-spinner></mat-spinner>
    </div>
</div>