<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">  
            <div class="fadeIn first">
                <img src="assets/login_black.png" id="icon"/>
                <h3>NRP PORTAL</h3><br>
                <h5>CHANGE PASSWORD</h5>
            </div>
    
            <form [formGroup]="loginForm">
                <input type="password" formControlName="password" id="password" class="fadeIn third" name="login" placeholder="old password" required>
                <input type="password" formControlName="password" id="password" class="fadeIn third" name="login" placeholder="new password" required>
                <input type="password" formControlName="password" id="password" class="fadeIn third" name="login" placeholder="re-enter new password" required>
                <button class="fadeIn fourth">CHANGE PASSWORD</button>
                <!-- <a href="login">login</a> -->
            </form>
        </div>
    </div>
</body>
