<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">  
            <div class="fadeIn first">
                <img src="assets/login_black.png" id="icon"/>
                <h3>NRP PORTAL</h3><br>
                <h5>RESET PASSWORD</h5>
            </div>
    
            <form [formGroup]="loginForm">
                <input type="text" formControlName="username" id="login" class="fadeIn second" name="login" placeholder="username" required>
                <button class="fadeIn fourth">RESET PASSWORD</button><br>
                <a href="login">login</a>
            </form>
        </div>
    </div>
</body>
