<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a href="dashboard">CLIENT PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                <div class="user-name">{{authenticationService.currentUserValue.firstName}} {{authenticationService.currentUserValue.lastName}}</div>
                <div class="user-role">Client</div>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a href="client-dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a href="client-projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a href="feedback">
                    <img src="assets/feedback.png" alt="">
                    <span>Feedback</span>
                </a>
                </li>
                <li>
                <a href="login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        <div class="main-content"></div>
        </div>
    </div>
</body>
    
  
  <div class="main-content">
        <h5 align="center">FEEDBACK LIST</h5>
        <form>
            <button type="button" class="btn btn-danger" style="margin-top:10px">
                <a href="feedback/new-feedback">NEW FEEDBACK</a>
            </button>
        </form>
        <form>
            <input type="text">
            <button class="search">Search</button>
        </form>
        <table class="table table-hover" style="margin-top: 10px; width: 100%;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Project</th>
                    <th scope="col">Project Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feed of feedbacks">
                <td><a data-toggle="modal" data-target="#exampleModal" (click)="getData(feed.projectContentId)">{{feed.projectContentId}}</a></td>
                <td><a data-toggle="modal" data-target="#exampleModal" (click)="getData(feed.projectContentId)">{{feed.description.split("-")[0]}}</a></td>
                <td><a data-toggle="modal" data-target="#exampleModal" (click)="getData(feed.projectContentId)">{{feed.timeline.project.title}} - {{feed.timeline.project.description}}</a></td>
                <td><a data-toggle="modal" data-target="#exampleModal" (click)="getData(feed.projectContentId)">{{feed.timeline.stage}}</a></td>
                </tr>
                
            </tbody>
        </table>
   
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{selectedFeed.description.split("-")[0]}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{selectedFeed.description.split("-")[1]}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
  </div>

 