<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
</head>
    
<body>
    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/client-dashboard">CLIENT PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                    <div class="user-name">Name and Surname</div>
                    <div class="user-role">Role</div>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/client-dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/client-projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/client-feedback">
                    <img src="assets/feedback.png" alt="">
                    <span>Feedback</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        <div class="main-content"></div>
        </div>
    </div>
</body>
    
  
  <div class="main-content">
        <h5 align="center">FEEDBACK LIST</h5>
        <form>
            <input type="text">
            <button class="search">Search</button>
        </form>

    <div class="table-wrapper-scroll-y">
        <table class="table table-striped table-bordered" cellspacing="0" style="margin-top:10px">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Project</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>19</a></td>
                    <td><a data-toggle="modal" data-target=".bd-client-feedback-modal-lg">Unfinished Work</a></td>
                    <td><a data-toggle="modal" data-target=".bd-client-feedback-modal-lg">FNB Paint Job</a></td>
                    <td><a data-toggle="modal" data-target=".bd-client-feedback-modal-lg">2018-01-24</a></td>
                </tr>
            </tbody>
        </table>  
    </div> 
    <form>
        <button type="button" class="new-feedback" style="margin-top:10px">
            <a routerLink="/client-feedback/new-feedback">NEW FEEDBACK</a>
        </button>
    </form>   
  </div>

  <div class="modal fade bd-client-feedback-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">Feedback</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">PROJECT</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="FNB Paint Job" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">TYPE</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="Complaint" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">TITLE</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="Unfinished paint job" readonly>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group row">
                        <label  class="col-sm-2 col-form-label">MESSAGE</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" value="message" readonly>The shade of peach that was used does not match the one from the swatch we agreed on. This needs to be changed.
                            </textarea>
                        </div>
                    </div>
                </form>
                <img src="assets/painting.jpg" class="feedback-img" data-toggle="modal" data-target="#exampleModal">

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="assets/painting.jpg" class="expand-img">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <form>
                <div class="form-group">
                    <label  class="col-sm-2 col-form-label">RESPONSE</label>
                    <div class="col-sm-10">
                    <textarea class="form-control" readonly>The paint color error will be sorted on the 26th of January. Thank you for the feedback.</textarea>
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


