<h6 align="center">TIMELINES</h6>
<button class="add" data-toggle="modal" data-target=".bd-new-timeline-modal-lg" data-toggle="modal" data-target=".bd-new-timeline-modal-lg">Add Timeline</button>
<app-add-timeline></app-add-timeline>
<div class="card">
    <p>
        <a routerLink="/projects/view-timeline">PHASE TITLE</a>
        <img src="assets/complete.png">
        <button class="delete">Delete</button>
    </p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>

<div class="card">
    <p>
        <a routerLink="/projects/view-timeline">PHASE TITLE</a> 
        <img src="assets/complete.png">
        <button class="delete">Delete</button>
    </p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>

<div class="card">
    <p>
        <a routerLink="/projects/view-timeline">PHASE TITLE</a> 
        <img src="assets/complete.png">
        <button class="delete">Delete</button>
    </p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>