<h6 align="center">TIMELINES</h6>
<div class="card">
    <p>PHASE TITLE</p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>

<div class="card">
    <p>PHASE TITLE</p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>

<div class="card">
    <p>PHASE TITLE</p>
</div>
<div class="card">
    <a routerLink="/projects/view-timeline">
        <div class="progress">
            <div class="one danger-color"></div><div class="two no-color"></div><div class="three no-color"></div>
            <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
        </div>
    </a>
</div>