    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                    <div class="user-name">Name & Surname</div>
                    <div class="user-role">Role</div>
                  </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a routerLink="/reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a routerLink="/quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a routerLink="/rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a routerLink="/admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        </div>
    </div>

<div class="main-content">
  <h5 align="center">TIMELINE TITLE</h5>

  <div class="row">
    <div class="col-sm-6">
        <div class="card date-gallery date">
            <app-date-details></app-date-details>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card date-gallery gallery">
            <h6 align="center">PROJECT UPDATE GALLERY</h6>
            <button data-toggle="modal" data-target=".bd-new-update-modal-lg" data-toggle="modal" data-target=".bd-new-update-modal-lg">NEW UPDATE</button>
            <app-gallery style="margin-top:10px"></app-gallery>
        </div>
    </div>
</div>

<div class="card snags-feedback">
    <app-snags-list></app-snags-list>
</div>

<div class="card snags-feedback">
    <app-feedback-list></app-feedback-list>
</div>

<app-snags></app-snags>
<app-client-feedback></app-client-feedback>
<app-new-update></app-new-update>