    <div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png">
                </div>
                <div class="sidebar-user-details">
                    <div class="user-name">Name & Surname</div>
                    <div class="user-role">Role</div>
                  </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a routerLink="/reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a routerLink="/quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a routerLink="/rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a routerLink="/admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
        </div>
    </div>

<div class="main-content">
  <h5 align="center">TIMELINE TITLE</h5>

  <div class="row">
    <div class="col-sm-6">
        <div class="card date-gallery">
            <h6 align="center">DATE DETAILS</h6>
            <div class="form-group">
                <label class="col-form-label">Start Date</label>
                <input type="date" class="form-control" id="start-date" placeholder="dd-mm-yyyy">
            </div>
            <div class="form-group">
                <label class="col-form-label">End Date</label>
                <input type="date" class="form-control" id="end-date" placeholder="dd-mm-yyyy">
            </div>
            <div class="form-group">
                <label class="col-form-label">Time Extension</label>
                <input type="date" class="form-control" id="time-extension" placeholder="dd-mm-yyyy">
            </div>

            <div class="form-group">
                <label class="col-form-label">Timeline Status</label>
                <select class="form-control">
                    <option>Select...</option>
                    <option value="">In Progress</option>
                    <option value="">Complete</option>
                    <option value="">Overdue</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card date-gallery">
            <h6 align="center">PROJECT UPDATE GALLERY</h6>
            <button data-toggle="modal" data-target=".bd-new-update-modal-lg" data-toggle="modal" data-target=".bd-new-update-modal-lg">NEW UPDATE</button>
            <div class="card images">
                <div class="row">
                    <img src="assets/painting.jpg" data-toggle="modal" data-target=".bd-gallery-modal-lg" data-toggle="modal" data-target=".bd-gallery-modal-lg">
                    <img src="assets/painting.jpg" data-toggle="modal" data-target=".bd-gallery-modal-lg" data-toggle="modal" data-target=".bd-gallery-modal-lg">
                    <img src="assets/painting.jpg" data-toggle="modal" data-target=".bd-gallery-modal-lg" data-toggle="modal" data-target=".bd-gallery-modal-lg">
                    <img src="assets/painting.jpg" data-toggle="modal" data-target=".bd-gallery-modal-lg" data-toggle="modal" data-target=".bd-gallery-modal-lg">
                    <img src="assets/painting.jpg" data-toggle="modal" data-target=".bd-gallery-modal-lg" data-toggle="modal" data-target=".bd-gallery-modal-lg">
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="card snags-feedback">
    <h6 align="center">SNAGS</h6>
    <div class="table-wrapper-scroll-y">
        <table class="table table-striped table-bordered" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Wrong restroom door handle.</td>
                    <td>12-11-2018</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="new" data-toggle="modal" data-target=".bd-new-default-modal-lg" data-toggle="modal" data-target=".bd-new-default-modal-lg">NEW SNAG</button>
</div>

<div class="card snags-feedback">
    <h6 align="center">FEEDBACK</h6>
    <div class="table-wrapper-scroll-y">
        <table class="table table-striped table-bordered" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Feedback Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Incomplete paint job.</td>
                    <td data-toggle="modal" data-target=".bd-feedback-modal-lg">15-01-2018</td>
                    <td data-toggle="modal" data-target=".bd-feedback-modal-lg">Complaint</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-snags></app-snags>
<app-client-feedback></app-client-feedback>
<app-new-update></app-new-update>
<app-gallery></app-gallery>