h5 {
    margin: 20px;
}

.new {
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #3A71B9;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100px;
    float: right;
}

.date-gallery {
    height: 400px;
    padding: 10px;
}

.date-gallery button {
    border: none;
    background-color: #3A71B9;
    color: white;
}
.date-gallery .card {
    margin-top: 10px;
    border: none;
    display: block;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.date {
    border: none;
}

.gallery {
    border: none;
}

.snags-feedback {
    margin: 10px;
    border: none;
}

.card {
    padding: 10px;
    border-radius: 2px;
}

img {
    height: 60px;
    width: 60px;
    margin: 5px;
}

table {
    width: 100%;
}

table th {
    background-color: rgb(42, 43, 43);
    color: white;
}
