<html>
    <header>
        <link rel="stylesheet" href="project-report.css">
    </header>

    <body>
        <div class="content">
            <div class="header">
                <img src="nrp-logo.jpg" class="logo"><br>
                <h4 align="center">Name and Surname</h4>
                <h4 align="center">NRP PROPERTIES & CONTRACTORS (PTY) LTD</h4>
            </div>

            <div class="header">
                <h1>UNISA LENASIA PAINTING UPDATE 26/01/2019</h1>
                <hr>
                <h3>UNISA Lenasia Painting</h3>
                <h3>26 January 2019</h3>
                <h3>Prepared for UNISA</h3>
                <h3 style="page-break-after:always">3 Points</h3>
            </div>   
        </div>   
        
        <div class="content">
            <div class="header">
                <hr>
                <div class="update">
                    <p>
                        <img src="ceiling.jpg">
                        <h3>Item Title</h3>
                        <h3 style="color:grey">Assigned To...</h3>
                        Description Here
                    </p>
                </div> 
            </div>              
        </div> 
    </body>
</html>