<html>
    <header>
        <link rel="stylesheet" href="project-report.css">
    </header>

    <body>
        <div class="content">
            <div class="header">
                <img src="nrp-logo.jpg" class="logo">
                <p align="center">Ntleleng</p>
                <p align="center">NRP PROPERTIES & CONTRACTORS (PTY) LTD</p>
            </div>

            <div class="header">
                <h2>UNISA LENASIA PAINTING UPDATE 26/01/2019</h2>
                <hr>
                <p>UNISA Lenasia Painting</p>
                <p>26 January 2019</p>
                <p>Prepared for UNISA</p>
                <p style="page-break-after:always">3 Points</p>
            </div>   
        </div>   
        
        <div class="content">
            <div class="header">
                <hr>
                <div class="update">
                    <img src="ceiling.jpg">
                    <p>efcs;nsdvn</p>
                    <p>csisvnfvlfvn</p>
                    <p>vlnsnvfoivn</p>
                </div> 
            </div>              
        </div> 
    </body>
</html>