.list
{
    height: calc(100% - 5px);
    background-color: white;
    padding: 10px;
    overflow: auto;
}

h5 {
    text-align: center;
    margin: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

.search {
    border: none;
    background-color: white;
}

.add {
    background-color: #135772;
    border: none;
    border-radius: 1px;
}

button a {
    text-decoration: none;
    color: #E6E6E6;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 10px;
}