.list
{
    height: calc(100% - 5px);
    background-color: white;
    padding: 10px;
    overflow: auto;
}

h5 {
    text-align: center;
    margin: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

.search {
    border: none;
    background-color: white;
}

.add {
    background-color: rgb(255, 65, 65);
    height: 25px;
    width: 150px;
    border: none;
    color: white;
}

button a {
    text-decoration: none;
    color: #E6E6E6;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 350px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 10px;
}

.loader {
    position: relative;
    left: 40%;
    top: 200px;
}

table {
    width: 100%;
    margin-top: 10px;
}

table th {
    background-color: rgb(42, 43, 43);
    color: white;
    border: none;
}