<div id="app">
        <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg main-navbar">
            <h5>Home</h5>
        </nav>
        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a routerLink="/dashboard">NRP PORTAL</a>
            </div>
            <div class="sidebar-user">
                <div class="sidebar-user-picture">
                <img alt="image" src="assets/profile.png" routerLink="/employee-profile">
                </div>
                <div class="sidebar-user-details">
                    <div class="user-name" routerLink="/employee-profile">Name & Surname</div>
                    <div class="user-role" routerLink="/employee-profile">Role</div>
                  </div>
            </div>

            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li>
                <a routerLink="/dashboard">
                    <img src="assets/home.png" alt="">
                    <span>Dashboard</span>
                </a>
                </li>
                <li class="menu-header">MENU</li>
                <li>
                <a routerLink="/projects">
                    <img src="assets/project.png" alt="">
                    <span>Projects</span>
                </a>
                </li>
                <li>
                <a routerLink="/finance">
                    <img src="assets/finance.png" alt="">
                    <span>Finance</span>
                </a>
                </li>
                <li>
                <a routerLink="/reports">
                    <img src="assets/report.png" alt="">
                    <span>Reports</span>
                </a>
                </li>
                <li>
                <a routerLink="/quotes">
                    <img src="assets/quote.png" alt="">
                    <span>Quotes</span>
                </a>
                </li>
                <li>
                <a routerLink="/rfqs">
                    <img src="assets/quote.png" alt="">
                    <span>RFQs</span>
                </a>
                </li>
                <li>
                <a routerLink="/admin">
                    <img src="assets/admin.png" alt="">
                    <span>Admin</span>
                </a>
                </li>
                <li>
                <a routerLink="/login">
                    <img src="assets/logout.png" alt="">
                    <span>Signout</span>
                </a>
                </li>
            </ul>
            </aside>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <h5>PROJECTS</h5> 
    </div>

    <div class="list">
        <h6><b>NEW PROJECT</b></h6>
        <br>
        <div class="tab-content" id="myTabContent" style="margin-top: 10px; margin-left: 10px">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Project Name</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="projectName" class="form-control" placeholder="Project Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Client Name</label>
                            <div class="col-sm-10">
                                <select formControlName="clientId" class="form-control selectpicker" id="select-client" data-live-search="true" required>
                                    <option [value]="null">Select Client</option>
                                    <option *ngFor="let client of clients" [value]="client.clientId">{{client.clientName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Facility</label>
                            <div class="col-sm-10">
                            <input type="text" formControlName="facility" class="form-control" placeholder="Facility" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input type="text" formControlName="description" class="form-control" placeholder="Description" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-sm-2 col-form-label">Creation Date</label>
                            <div class="col-sm-10">
                                <input type="date" formControlName="creationDate" class="form-control" required>
                            </div>
                        </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="add" id="createProject">CREATE PROJECT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>