<h6 align="center">SNAGS</h6>
<div class="table-wrapper-scroll-y">
  <table class="table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Wrong restroom door handle.</td>
        <td>12-11-2018</td>
      </tr>
    </tbody>
  </table>
</div>
<button class="new" data-toggle="modal" data-target=".bd-new-default-modal-lg" data-toggle="modal" data-target=".bd-new-default-modal-lg">NEW SNAG</button>