.generate {
    background-color: rgb(197, 35, 35);
    border: none;
    border-radius: 2px;
    width: 150px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    margin:auto;
    margin-top: 10px;
    display:block;
}