<!-- <div class="row">
    <div class="card phase-duration">
        <p align="center"><b>DURATION PROGRESS</b></p>
        <div class="circle" style="background-color:rgb(255, 180, 41)">
            <p>35%</p>
        </div> 
    </div>
    <div class="card phase-duration">
        <p align="center"><b>PROJECT PHASE PROGRESS</b></p>
        <div class="circle" style="background-color:rgb(253, 51, 51)">
            <p>35%</p>
        </div> 
    </div>
</div> -->

<div class="row">
    <div class="card">
        <p align="center"><b>DURATION PROGRESS</b></p>
        <div class="progress blue">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">90%</div>
        </div>
    </div>
 
        <div class="card">
            <p align="center"><b>PROJECT PHASE PROGRESS</b></p>
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
    </div>