<div class="row">
    <div class="card phase-duration">
        <p align="center"><b>DURATION PROGRESS</b></p>
        <div class="circle" style="background-color:rgb(255, 180, 41)">
            <p>35%</p>
        </div> 
    </div>
    <div class="card phase-duration">
        <p align="center"><b>PROJECT PHASE PROGRESS</b></p>
        <div class="circle" style="background-color:rgb(253, 51, 51)">
            <p>35%</p>
        </div> 
    </div>
</div>




<!-- <div class="loader">
    <div id="circle"></div>
</div>
  -->